# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual envs
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Caches
.pytest_cache/
.mypy_cache/
.cache/
.ipynb_checkpoints/
